{% if site.google_analytics %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
{% endif %}

<link rel="shortcut icon" type="image/x-icon" href="https://agusnieto77.github.io/ryrstudio/img/favicon.ico">
<link rel="shortcut icon" href="https://agusnieto77.github.io/ryrstudio/img/favicon.ico">
<link rel="shortcut icon" href="https://agusnieto77.github.io/ryrstudio/img/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://agusnieto77.github.io/ryrstudio/img/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://agusnieto77.github.io/ryrstudio/img/favicon-32x32.png">
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="https://agusnieto77.github.io/ryrstudio/img/apple-touch-icon.png">
<link rel="apple-touch-icon" type="image/png" sizes="120x120" href="https://agusnieto77.github.io/ryrstudio/img/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" type="image/png" sizes="76x76" href="https://agusnieto77.github.io/ryrstudio/img/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" type="image/png" sizes="60x60" href="https://agusnieto77.github.io/ryrstudio/img/apple-touch-icon-60x60.png">
<link rel="android-chrome" type="image/png" sizes="192x192" href="https://agusnieto77.github.io/ryrstudio/img/android-chrome-192x192.png">
<link rel="android-chrome" type="image/png" sizes="512x512" href="https://agusnieto77.github.io/ryrstudio/img/android-chrome-512x512.png">
